@import url('./variables.css');
@import url('./responsive.css');
@import url('./button.css');
@import url('./util.css');
@import url('./styles.css');

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-color: var(--pure-white);
	color: var(--base-purple);
	font-weight: 400;
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Roboto', sans-serif;

	/* font-family: 'Raleway', sans-serif; */
	/* font-family: 'Noto Sans', sans-serif; */
	font-size: calc(0.75em + 1vmin);
	box-sizing: border-box;
}

.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.container-fluid {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.responsive-image {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.bottom-right {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.logo {
	margin-top: -1rem;
}

.fixed-top-right {
	position: absolute;
	top: 5px;
	right: 10px;
}

.car-title {
	font-size: 1.4rem;
	font-weight: 400;
}

.card-header {
	font-size: 1.3rem;
	font-weight: 300;
	border-radius: 10px 10px 0 0;
}

.location {
	font-size: 10px;
	color: var(--deep-purple) !important;
}

.active {
	background-color: var(--light-purple) !important;
	color: var(--base-purple);
}

.paragraph {
	line-height: 1.2;
	word-spacing: 1;
}

.rounded-image {
	border-radius: 50%;
}

.sidebar {
	border: 1px solid var(--faint-purple);
	background-color: var(--grey-one);
	min-height: 80vh;
}

input.w-100,
input.w-50 {
	border: none;
	border-bottom: 2px solid var(--deep-purple);
	padding: 10px 5px;
	background-color: var(--grey-one);
	outline: none;
	box-sizing: border-box;
}

input.w-100:focus,
input.w-50:focus {
	border: none;
	border-bottom: 2px solid var(--base-blue);
	padding: 10px 5px;
	background-color: var(--grey-one);
	outline: none;
	box-sizing: border-box;
}

textarea.w-100 {
	border: none;
	border-bottom: 2px solid var(--deep-purple);
	padding: 10px 5px;
	background-color: var(--grey-one);
	outline: none;
	box-sizing: border-box;
	width: 100%;
	height: 150px;
}

textarea.w-100:focus {
	border: none;
	border-bottom: 2px solid var(--base-blue);
	padding: 10px 5px;
	background-color: var(--grey-one);
	outline: none;
	box-sizing: border-box;
}

select.filter {
	width: 100%;
	padding: 10px 5px;
	border: none;
	border-bottom: 2px solid var(--deep-purple);
	background-color: var(--grey-one);
	outline: none;
}

select.filter:focus {
	width: 100%;
	padding: 10px 5px;
	border: none;
	border-bottom: 2px solid var(--base-blue);
	background-color: var(--grey-one);
	outline: none;
}

.overlay-advert {
	background: #b39ddb;
	background: -webkit-linear-gradient(to left, #9575cd, #7e57c2);
	background: linear-gradient(to left, #9575cd, #7e57c2);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #ffffff;
	position: relative;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	border-radius: 10px 0 0 10px;
}