.btn {
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0.8rem 2rem !important;
	border-radius: 1rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
		0 3px 1px -2px rgba(0, 0, 0, 0.2);
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-purple {
	background-color: var(--base-purple);
	color: #fff;
	border: 1px solid var(--deep-purple);
}

.btn-danger {
	background-color: var(--base-red);
	color: #fff;
	border: 1px solid var(--deep-red);
}

.btn-orange {
	background-color: var(--abstract-orange);
	color: #fff;
	border: 1px solid var(--abstract-orange);
}

.btn-purple-reverse {
	background-color: var(--pure-white);
	color: var(--base-purple);
	border: 1px solid var(--deep-purple);
}

.btn-group button {
	background-color: var(--grey-one);
	color: var(--dark-grey);
	border: 1px solid var(--dark-grey);
	padding: 10px 20px;
	cursor: pointer;
	float: left;
	outline: none;
}
.bl-t-b {
	border-radius: 0.5rem 0 0 0.5rem;
}
.br-t-b {
	border-radius: 0 0.5rem 0.5rem 0;
}
.btn-group:after {
	content: '';
	clear: both;
	display: table;
}

.btn-group button:not(:last-child) {
	border-right: none;
}

.btn-group button:hover {
	background-color: var(--faint-purple);
	color: var(--base-purple);
	border: 1px solid var(--deep-purple);
}

.btn-group button:active {
	background-color: #b39ddb;
}
