@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
	--base-purple: #512da8;
	--deep-purple: #311b92;
	--mild-purple: #7e57c2;
	--light-purple: #d1c4e9;

	--grey-one: #f5f5f5;
	--dark-grey: #757575;

	--pure-white: #fff;

	--abstract-orange: #FFC27C;

	--base-red: #E53935;
	--deep-red: #C62828;

}

.bg-light-grey {
	background-color: var(--grey-one);
}